VITE_FIREBASE_API_KEY=
VITE_GEMINI_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
GOOGLE_SHEET_ATTENDANCE_ID=1FaCHHOmhR66_04sa_XcdxmX3A5qdOVWZHHtpHThz5Ys
GOOGLE_SHEET_STUDENTS_ID=1EaTp8OBfPI1v-JWjids2fE0SKozvLYjMiQgKI23FpX0
GOOGLE_SHEET_SUMMARY_ID=1mxo6JKc5uhCs7pw0-UJ-xevC5Iyl2aOvuCHhksWkK2g
